body {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: Arial;
}

.top {
  display: flex;
  gap: 30px;
  font-size: 18px;
}

.board {
  width: 600px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20px);
  background: #111;
}

.block {
  width: 20px;
  height: 20px;
  border: 1px solid #222;
}

.snake {
  background: lime;
}

.food {
  background: red;
}

button {
  padding: 8px 20px;
  cursor: pointer;
}
